.ex{
    width: 100vw;
    height: 500vh;
    background-color:hsla(0,21%,15%,1);
    background-image:
    radial-gradient(at 100% 2%, hsla(240,32%,36%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0,0%,100%,0.47) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,0%,0%,1) 0px, transparent 50%);
    color: white;
}
.ex > .ex-title h1{
    margin-top: 200px;
    margin-left: 200px;
    float: left;
    font-size: 60px;
    width: 100%;
}
.ex > .ex-title p{
    margin-top: 70px;
    margin-left: 200px;
    float: left;
    font-size: 25px;
    width: 100%;
}
.ex > .ex-title ul{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 200px;
    float: left;
    width: 100%;
}
.ex > .ex-title > .container{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    gap: 300px;
    justify-content: center;
}
.ex > .ex-title > .container > .item{
    width: 250px;
    height: 250px;
    background-color: red;
}