body{
    background-color:hsla(0,21%,15%,1);
    background-image:
    radial-gradient(at 100% 2%, hsla(240,32%,36%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0,0%,100%,0.47) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,0%,0%,1) 0px, transparent 50%);
    color: white;
}
.mm{
    text-align: center;
    width: 100%;
    padding-top: 300px;
}
.mm h1{
    font-size: 50px;
    margin-top: 100px;
}
.mm p{
    font-size: 30px;
    text-decoration: underline;
}
.mm ul{
    margin-top: 50px;
    font-size: 2vw;
    list-style-type: none
}
.mm ul > li{
    margin-top: 20px;
}
footer{
    margin-top: 50px;
}