:root{
    --background-color: rgb(19, 19, 19);
    --secondary-color: silver;
    --third-color: white;
    --black: rgb(0, 0, 0, 0.5);
}
*{
    margin: 0;
}
body{
    background-color: black;
    z-index: 10;
    overflow-x: hidden;
}
.mobile{
    display: none;
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    color: var(--secondary-color);
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    z-index: 100;
}
nav a{
    margin-top: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.4s
}
nav a:hover{
    text-decoration: underline;
    color: red;
    font-size: 22px;
}
nav img{
    margin-top: 10px;
}
header{
    width: 100%;
    height: 90vh;
    background-image: url(../media/images/pexels.png);
    background-size: cover;
    background-position: center;
    position: sticky;
    right: 0;
    top: 75px;
    z-index: -5;
}
.bar{
    height: 200px;
    width: 100%;
    background-color: brown;
}
.bar > .text h1{
    text-align: center;
    color: black;
    font-size: 30px;
    padding-top: 20px;
}
.bar > .steps{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.bar > .steps h1{
    text-align: center;
}
.bar > .steps p{
    margin-top: 0px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    margin-left: -2px;
}
main{
    background-color:hsla(0,0%,13%,1);
    background-image:
    radial-gradient(at 99% 97%, hsla(0,0%,50%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(348,0%,0%,1) 0px, transparent 50%);
    width: 100%;
    height: 800px;
    color: black;
    display: flex;
    justify-content: space-around;
}
main .text{
    margin-top: 75px;
    height: 650px;
    width: 60vw;
    background: rgb(2,0,36);
    background: linear-gradient(114deg, rgba(2,0,36,1) 0%, rgba(53,52,85,1) 73%, rgba(71,70,96,1) 79%, rgba(79,78,103,1) 81%, rgba(97,96,118,1) 86%, rgba(117,116,135,1) 94%, rgba(242,242,242,1) 100%);
    color: white;
}
main .text h1, p{
    margin-left: 30px;
    margin-top: 30px;
}
main .text p{
    font-size: 25px;
}
main .ashton{
    margin-top: 75px;
    height: 650px;
    width: 30vw;
    background-color: black;
}
main .ashton img{
    width: 30vw;
    height: 650px;
    object-fit: cover;
}
.pricing{
    width: 100%;
    height: 75vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pricing > .item{
    width: 400px;
    height: 70%;
    background-color: red;
}
footer{
    background-color: rgb(22, 22, 22, 0.7);
    width: 100%;
    height: 40vh;
    color: black;
    color: white;
}
footer h1{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}
footer > .socials{
    margin-top: -50px;
    display: flex;
    justify-content: space-around;
}
footer > .socials > .item{
    width: 10vw;
    height: 50px;
    margin-top: 20vh;
}
footer > .socials > .one i{
    color: white;
    font-size: 50px;
    margin-left: 3.5vw;
}
footer > .socials > .two i{
    color: white;
    font-size: 50px;
    margin-left: 3.5vw;
}
footer > .socials > .three i{
    color: white;
    font-size: 50px;
    margin-left: 3.5vw;
}
