:root{
    --background-color: black;
    --secondary-color: silver;
    --third-color: white;
}

*{
    margin: 0;
}
body{
    background-color: var(--background-color);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    color: var(--secondary-color);
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
}
nav a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header{
    background-color: blue;
    width: 100%;
    height: 75vh;
    color: black;
    z-index: -20;

}
header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}
main{
    background-color: red;
    width: 100%;
    height: 800px;
    color: black;
    z-index: 10;
}