:root{
    --background-color: rgb(19, 19, 19);
    --secondary-color: silver;
    --third-color: white;
}
*{
    margin: 0;
}
body{
    background-color: black;
    z-index: 10;
}
.mobile{
    display: none;
}
.desktop > nav{
    position: fixed;
    width: 100%;
    height: 60px;
    color: var(--secondary-color);
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.desktop > nav a{
    margin-top: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.4s
}
.desktop > nav a:hover{
    text-decoration: underline;
    color: red;
    font-size: 22px;
}
.desktop > nav img{
    margin-top: 10px;
}
.desktop > header{
    width: 100%;
    height: 75vh;
    background-image: url(../media/images/pexels.png);
    background-size: cover;
    background-position: center;
    position: sticky;
    right: 0;
    top: 75px;
    z-index: -5;
}
main{
    background-color:hsla(0,0%,13%,1);
    background-image:
    radial-gradient(at 99% 97%, hsla(0,0%,50%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(348,0%,0%,1) 0px, transparent 50%);
    width: 100%;
    height: 800px;
    color: black;
    display: flex;
    justify-content: space-around;
}
main .text{
    margin-top: 75px;
    height: 650px;
    width: 60vw;
    background: rgb(2,0,36);
    background: linear-gradient(114deg, rgba(2,0,36,1) 0%, rgba(53,52,85,1) 73%, rgba(71,70,96,1) 79%, rgba(79,78,103,1) 81%, rgba(97,96,118,1) 86%, rgba(117,116,135,1) 94%, rgba(242,242,242,1) 100%);
    color: white;
}
main .text h1, p{
    margin-left: 30px;
    margin-top: 30px;
}
main .text p{
    font-size: 25px;
}
main .ashton{
    margin-top: 75px;
    height: 650px;
    width: 30vw;
    background-color: black;
}
main .ashton img{
    width: 30vw;
    height: 650px;
    object-fit: cover;
}
.desktop > .pricing{
    background-color: black;
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: space-between;
}
.desktop > .pricing h1, ul{
    margin-left: 30px;
    margin-top: 30px;
}
.desktop > .pricing li{
    margin-top: 30px;
    font-size: 20px;
}
.desktop > .pricing > .text > .bronze{
    background-color: brown;
    width: 70vw;
    height: 25%;
}
.desktop > .pricing > .image > .bronze-img{
    background-color: brown;
    width: 20vw;
    height: 25%;
    margin-right: 20px;
}
.desktop > .pricing > .image > .bronze-img img{
    object-fit: cover;
    width: 20vw;
    height: 100%;
}
.desktop > .pricing > .text > .silver{
    background-color: silver;
    width: 70vw;
    height: 25%;
}
.desktop > .pricing > .image > .silver-img{
    background-color: silver;
    width: 20vw;
    height: 25%;
    margin-right: 20px;
}
.desktop > .pricing > .image > .silver-img img{
    object-fit: cover;
    width: 20vw;
    height: 100%;
}
.desktop > .pricing > .text > .gold{
    background-color: gold;
    width: 70vw;
    height: 25%;
}
.desktop > .pricing > .image > .gold-img{
    background-color: gold;
    width: 20vw;
    height: 25%;
    margin-right: 20px;
}
.desktop > .pricing > .image > .gold-img img{
    object-fit: cover;
    width: 20vw;
    height: 100%;
}
.desktop > .pricing > .text > .bronze, .silver, .gold{
    margin-top: 5vw;
}
.desktop > .pricing > .image > .bronze-img, .silver-img, .gold-img{
    margin-top: 5vw;
}
footer{
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 40vh;
    color: black;
}
footer h1{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}
footer > .socials{
    display: flex;
    justify-content: space-around;
}
footer > .socials > .item{
    width: 10vw;
    height: 50px;
    background-color: black;
    margin-top: 20vh;
}
footer > .socials > .one i{
    color: white;
    font-size: 50px;
    margin-left: 3.5vw;
}
footer > .socials > .two i{
    color: white;
    font-size: 50px;
    margin-left: 3.5vw;
}
footer > .socials > .three i{
    color: white;
    font-size: 50px;
    margin-left: 3.5vw;
}

@media screen and (max-width: 900px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}

/*MOBILE VERSION*/
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
nav a{
    margin-top: 25px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: 0.4s
}
nav a:active{
    text-decoration: underline;
    color: purple;
}
.mobile-header{
    width: 100%;
    height: 40vh;
    background-image: url(../media/images/pexels.png);
    background-size: cover;
    background-position: center;
    position: sticky;
    right: 0;
    top: 75px;
    z-index: -5;
}
.mobile-main{
    background-color: red;
    width: 100%;
    height: 800px;
    color: black;
}
.mobile-main > .text{
    margin-top: 100px;
    height: 300px;
    width: 100%;
    background-color: black;
}
.mobile-main > .ashton{
    margin-top: 50px;
    height: 500px;
    width: 100%;
    background-color: black;
}
.mobile-pricing{
    padding-top: 100px;
    background-color: white;
    width: 100%;
    height: 3000px;
    align-items: center;
}
.mobile-pricing h1{
    text-align: center;
}
.mobile-pricing > .bronze-img{
    background-color: brown;
    width: 100%;
    height: 300px;
}
.mobile-pricing > .bronze{
    margin-top: 20px;
    background-color: brown;
    width: 100%;
    height: 600px; 
}
.mobile-pricing > .silver-img{
    background-color: silver;
    width: 100%;
    height: 300px;
}
.mobile-pricing > .silver{
    margin-top: 20px;
    background-color: silver;
    width: 100%;
    height: 600px;
}
.mobile-pricing > .gold-img{
    background-color: gold;
    width: 100%;
    height: 300px;
}
.mobile-pricing > .gold{
    margin-top: 20px;
    background-color: gold;
    width: 100%;
    height: 600px; 
}