.options{
    width: 100%;
    height: 100vh;
    background-color: darkviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.options > a .i{
    width: 600px;
    height: 600px;
}
.options > a .interior{
    background-color: red;
}
.options > a .i h1{
    display: flex;
    justify-content: center;
}
.options > a .exterior{
    background-color: blue;
}