.options{
    width: 100%;
    height: 100vh;
    background-color: darkviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.options > a .interior:hover{
    width: 650px;
    height: 650px
}
.options > a .interior{
    transition: 0.5s;
}
.options > a .exterior:hover{
    width: 650px;
    height: 650px
}
.options > a .exterior{
    transition: 0.5s;
}
.options > a .i{
    width: 600px;
    height: 600px;
}
.options > a .interior{
    background-color: red;
}
.options > a .i h1{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 40%;
    color: black;
    font-size: 60px;
}
.options > a .i img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.options > a .exterior{
    background-color: blue;
}
.options > a .interior, .exterior{
    position: relative;
}